<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trek Locator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <script>
      const iconTracker = L.icon({
        iconUrl: '/resources/icon-tracker.png',
        iconSize: [32, 32],
      });
      const iconGateway = L.icon({
        iconUrl: '/resources/icon-gateway.png',
        iconSize: [32, 32],
      });
      const iconUser = L.icon({
        iconUrl: '/resources/icon-user.png',
        iconSize: [32, 32],
      });
    </script>;

    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{ .device }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          Received at: {{ .receivedAt | formatTime }} ({{ .receivedAgo | formatDuration }} ago)
        </div>
        <div class="col">
          {{ if .hasGPS }}
            <a href="/trek/v1/device?device={{ .device }}&format=html" type="button" class="btn btn-outline-secondary btn-sm">Latest data</a>
          {{ else }}
            <a href="/trek/v1/device?device={{ .device }}&mustHaveGPS=true&format=html" type="button" class="btn btn-outline-secondary btn-sm">Last position</a>
          {{ end }}
          <a href="/?device={{ .device }}" type="button" class="btn btn-outline-danger btn-sm">Send commands</a>
          {{ if .showBrowserLoc }}
            {{ if .hasGPS }}
              <a href="/trek/v1/device?device={{ .device }}&mustHaveGPS=true&format=html" type="button" class="btn btn-outline-info btn-sm">Hide my position</a>
            {{ else }}
              <a href="/trek/v1/device?device={{ .device }}&format=html" type="button" class="btn btn-outline-info btn-sm">Hide my position</a>
            {{ end }}
          {{ else }}
            {{ if .hasGPS }}
              <a href="/trek/v1/device?device={{ .device }}&mustHaveGPS=true&showBrowserLoc=true&format=html" type="button" class="btn btn-outline-info btn-sm">Show my position</a>
            {{ else }}
              <a href="/trek/v1/device?device={{ .device }}&showBrowserLoc=true&format=html" type="button" class="btn btn-outline-info btn-sm">Show my position</a>
            {{ end }}
          {{ end }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {{ .stats.TotalCount }} messages ({{ .stats.GPSCount }} with GPS data) in last {{ .stats.StatsDuration | formatDuration }} ({{ .stats.AverageMessageInterval | formatDuration }} interval).
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>GPS</h2>
        </div>
      </div>

    {{ if .hasGPS }}
      <div class="row">
        <div class="col">
          Location: {{ .gps.Latitude }}, {{ .gps.Longitude }}, Altitude: {{ .gps.AltRef }} {{ if .hasUserLoc }}({{ .gps.DistanceFromUser | formatDistance }} from you){{ end }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="map-tracker" style="width: 600px; height: 400px;"></div>
          <script>
            const trackermap = L.map('map-tracker').setView([{{ .gps.Latitude }}, {{ .gps.Longitude }}], 14);
          
            var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(trackermap);
          
            L.marker([{{ .gps.Latitude }}, {{ .gps.Longitude }}], {icon: iconTracker}).addTo(trackermap)
            	.bindPopup('<b>Tracker: {{ .device }}</b><br>Luminosity: {{ .lum }} lux<br>Temperature: {{ .temp }} degrees<br>Max Acceleration: {{ .acc }} g<br>Battery: {{ .battLevel }}%');

            {{ if .hasUserLoc }}
              L.marker([{{ .userLoc.Latitude }}, {{ .userLoc.Longitude }}], {icon: iconUser}).addTo(trackermap);
              var polyline = L.polyline([[{{ .gps.Latitude }}, {{ .gps.Longitude }}], [{{ .userLoc.Latitude }}, {{ .userLoc.Longitude }}]], {color: 'red'}).addTo(trackermap);
              trackermap.fitBounds(polyline.getBounds());
            {{ end }}

            {{ if .showBrowserLoc }}
              function showUserPositionOnTrackerMap(position) {
                L.marker([position.coords.latitude, position.coords.longitude], {icon: iconUser}).addTo(trackermap);
                var polyline = L.polyline([[{{ .gps.Latitude }}, {{ .gps.Longitude }}], [position.coords.latitude, position.coords.longitude]], {color: 'red'}).addTo(trackermap);
                trackermap.fitBounds(polyline.getBounds());
              }

              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showUserPositionOnTrackerMap);
              }
            {{ end }}
          </script>
        </div>
      </div>

    {{ else }}
      <div class="row">
        <div class="col">
          No location data available.
        </div>
      </div>
    {{ end }}

    <div class="row">
      <div class="col">
        <h2>Sensors</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Luminosity: {{ .lum }} lux
          </li>
          <li class="list-group-item">
            Temperature: {{ .temp }} degrees
          </li>
          <li class="list-group-item">
            Max Acceleration: {{ .acc }} g
          </li>
          <li class="list-group-item">
            Battery Level: 
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ .battLevel }}%;" aria-valuenow="{{ .battLevel }}" aria-valuemin="0" aria-valuemax="100">{{ .battLevel }}%</div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {{ if .hasAP }}
      <div class="row">
        <div class="col">
          <h2>Access Point(s)</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ol class="list-group list-group-numbered">
            {{ range .aps }}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">BSSID({{ .MACAddress }})</div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Signal({{ .SignalStrength }})</li>
                  </ul>
                </div>
              </li>
            {{ end }}
          </ol>
        </div>
      </div>

    {{ end }}

    <div class="row">
      <div class="col">
        <h2>Gateway(s)</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ol class="list-group list-group-numbered">
          {{ range .gateways }}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">ID({{ .GatewayIDs.GatewayID }})</div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">RSSI({{ .RSSI }})</li>
                  <li class="list-group-item">Location({{ .Location.Latitude }}, {{ .Location.Longitude }})</li>
                  {{ if $.hasGPS }}
                    <li class="list-group-item">Distance from tracker: {{ .Location.DistanceFromTracker | formatDistance }}</li>
                  {{ end }}
                  {{ if $.hasUserLoc }}
                    <li class="list-group-item">Distance from you: {{ .Location.DistanceFromUser | formatDistance }}</li>
                  {{ end }}
                </ul>
              </div>
              <div id="map-{{ .GatewayIDs.GatewayID }}" style="width: 400px; height: 200px;"></div>
              <script>
                var gwmap = L.map('map-{{ .GatewayIDs.GatewayID }}').setView([{{ .Location.Latitude }}, {{ .Location.Longitude }}], 14);
              
                var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  maxZoom: 19,
                  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(gwmap);
              
                L.marker([{{ .Location.Latitude }}, {{ .Location.Longitude }}], {icon: iconGateway}).addTo(gwmap)
		                .bindPopup('<b>Gateway: {{ .GatewayIDs.GatewayID }}</b><br>RSSI({{ .RSSI }})');

                {{ if $.hasGPS }}
                  L.marker([{{ .Location.Latitude }}, {{ .Location.Longitude }}], {icon: iconGateway}).addTo(trackermap)
		                .bindPopup('<b>Gateway: {{ .GatewayIDs.GatewayID }}</b><br>RSSI({{ .RSSI }})');
                  L.polyline([[{{ $.gps.Latitude }}, {{ $.gps.Longitude }}], [{{ .Location.Latitude }}, {{ .Location.Longitude }}]], {color: 'blue'}).addTo(trackermap);
                {{ end }}

                {{ if $.hasUserLoc }}
                  L.marker([{{ $.userLoc.Latitude }}, {{ $.userLoc.Longitude }}], {icon: iconUser}).addTo(gwmap);
                  var polyline = L.polyline([[{{ .Location.Latitude }}, {{ .Location.Longitude }}], [{{ $.userLoc.Latitude }}, {{ $.userLoc.Longitude }}]], {color: 'red'}).addTo(gwmap);
                  gwmap.fitBounds(polyline.getBounds());
                {{ end }}

                {{ if $.showBrowserLoc }}
                  function showUserPositionOnGwMap(position) {
                    L.marker([position.coords.latitude, position.coords.longitude], {icon: iconUser}).addTo(gwmap);
                    var polyline = L.polyline([[{{ .Location.Latitude }}, {{ .Location.Longitude }}], [position.coords.latitude, position.coords.longitude]], {color: 'red'}).addTo(trackermap);
                    gwmap.fitBounds(polyline.getBounds());
                  }

                  if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showUserPositionOnGwMap);
                  }
                {{ end }}
              </script>
            </li>
          {{ end }}
        </ol>
      </div>
    </div>
  
  </div>
</body>
</html>